In [10]:
# Module 4 Challenge: Pandas-Challenge

import pandas as pd

Schooldatatoload = "../Resources/schools_complete.csv"
Studentdatatoload = "../Resources/students_complete.csv"

School_data = pd.read_csv(Schooldatatoload)
Student_data = pd.read_csv(Studentdatatoload)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
#Merging data into one dataset
All_Data = pd.merge(Student_data, School_data, how="left", on=["school_name", "school_name"])
All_Data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
#Find the unique schools and the number of schools
School_count = All_Data["school_name"].unique()
print(School_count)
print(len(School_count))

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']
15

In [29]:
# Calculate the total number of students
students = All_Data["Student ID"].unique()
student_count = len(students)
print(student_count)

39170

In [13]:
# Calculate the total budget
total_budget = School_data["budget"].sum()
print(total_budget)

24649428

In [15]:
# Calculate the average (mean) math score
average_math_score = All_Data["math_score"].mean()
print(average_math_score)

78.98537145774827

In [16]:
# Calculate the average (mean) reading score
average_reading_score = All_Data["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [31]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = All_Data[(All_Data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / student_count * 100
passing_math_percentage

74.9808526933878

In [33]:
# Calculating the percentage of students who passed reading
passing_reading_count = All_Data[(All_Data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / student_count * 100
passing_reading_percentage

85.80546336482001

In [35]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = All_Data[
    (All_Data["math_score"] >= 70) & (All_Data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [38]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [len(School_count)],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing Rate": [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [41]:
# Use the code provided to select the school type
school_types = All_Data.set_index(["school_name"])["type"]

In [ ]:
# Calculate the total student count
per_school_counts =